*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato';

}
body{
	 background-color: black;
}

nav{
	height: 40px;
	background-color: #7bf2ff;
}

/*Navigation*/

ul{
  	top:0;
  	background-color: #7bf2ff;
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 10;
}

li{
	float: right;

}
ul li a{
	
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	font-family: Lato;
	padding: 10px 10px;
   	display: flex;
	
	}
li a:hover:not(.current-link){
    background-color: #F37298;
}

.current-link{
	background-color:#F37298;

}
a{
	padding: 8px;
}
.logo a{
	color: black;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    font-family: Lato;
    padding: 10px;
    display: flex;
    z-index: 13;
    position: absolute;

}
.logo{
	padding: 0px;
}



section{
	width: auto;
	padding: 20px;
 	text-align: left;
}
h1{
	color: #7bf2ff;
	font-family: Lato;
	font-size: 80px;
	font-weight: 600;
	text-decoration: none;
	text-align: center;
}

	
p{
    color: #7bf2ff;
	font-family: Lato;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
	
}
header{
	color: #F37298;
	text-align: center;
	font-family:Lato;
	font-size: 120px;
	font-weight: 900;
	text-decoration: none;
}

h2{
	color: #f37298;
	font-family: Lato;
	text-align: center;
    font-size: 20px;
  

}
img{
    display: block;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	
}

 div{
 	padding: 20px;
 	text-align: left;
 }
.caption{
 	text-align: center;
 	font-size: 12px; 
 	font-family: Lato;
 	text-decoration: underline;
 	color: black;
 }
button {
    font-family: Lato;
    color: #0D2A4C;
    font-size: 135%;
    font-weight: 400;
    text-decoration: none;
    border: solid #0D2A4C;
    padding: 50px 50px;
    border-radius: 9px;
    transition: all 0.5s;
    margin: auto;
    padding: 10px;

}

button:hover{
    color:  #F37298;
    border: solid #F37298 2px;
}
#button-position{
	margin: auto;
	width: 10%;
	
}

.project-title{
	
	font-family: Lato;
	font-size: 30px;
	font-weight: bold;
	color: white;
	margin-bottom: 10px;
	border-radius: 10px;
	

}
.heading{
	color:  white;
	font-family: Lato;
	font-weight: 600;
	font-size: 80px;
	text-align: center;

}   
  .subtitle{
	color:  white;
	text-align: center;
	font-family: Lato;
    font-size: 20px;
    text-decoration: none;
 
}
.column-left{
	float: left;
	width: 50%;
	padding: 20px;
	
}
.column-right{
	float: right;
	width: 50%;
	padding: 20px;
}

.column-container{
	
	display: table;
	
}
.video{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 450px;
}


/*Moblie*/

@media screen and (max-width: 700px){

   h1{
   	font-size: 30px;
   }
    h2{
    	font-size: 20px;
    }
    h3{
    	font-size: 15px;
    }


img{
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

   nav{
			position: relative;
	}

.bar{
	width: 30px;
	height: 3px;
	background-color:  black;
	margin: 5px;
	padding: 0px;

	}
		

	ul li a{
		padding: 20px 20px;
  
	
	}
	.hamburger-menu{
			position: absolute;
			cursor: pointer;
			top: 50%;
			right: 4%;
			transform: translate(35%, -50%);
			z-index: 11;
			margin: auto;
			padding: 0px;
		}
		li{
			float: none;
			display: flex;
			
			
		}
		ul{
			position: fixed;
			background-color: #7bf2ff;
			height: 100%;
			display: none;
		}
		ul.active{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

		}
		  .logo a{
	
    padding: 8px;
    

}

button{
	font-size: 15px;
	padding: 5px;
}



 
.heading{
	font-size: 30px;
}
.columns-container{
	width: 100%;
}
.column-left{
  width: auto;
}
.column-right{
 width: auto;
}
.subtitle{
	font-size: 15px;
}

.video{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 200px;
	padding:0px;
}

}

/*Tablet */
@media screen and (max-width: 1024px) and (min-width: 700px){
	 h1{
   	font-size: 30px;
   }
    h2{
    	font-size: 30px;
    }
    h3{
    	font-size: 25px;
    }


 .logo a{
	
    padding: 8px;
    

}
.bar{
			width: 30px;
			height: 3px;
			background-color: black;
			margin: 5px;
			padding: 0px;

	}
		

	ul li a{
		padding: 20px 20px;
  		font-size: 30px;
	
	}
	.hamburger-menu{
			position: absolute;
			cursor: pointer;
			top: 17px;
			right: 2%;
			transform: translate(20%, -40%);
			z-index: 11;
			margin:auto;
			padding: 0px;
		}
		li{
			float: none;
			display: flex;
			
			
		}
		ul{
			position: fixed;
			background-color: #7bf2ff;
			height: 100%;
			display: none;
			transition: all 3s ease;
		}
		ul.active{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

		}

img{
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}



button{
	font-size: 20px;
	padding: 10px;
}

.heading{
	font-size: 40px;
}
.button{
    
    font-size: 100%;
    padding: 2.5px 8px;
    width: 10%;
    padding: 5px;
}
.title{
	font-size: 22px;
}
#button-position{
   width: 16%;
}
.blog-title{
	font-size: 25px;
}
.paragraph{
	font-size: 25px;

}
.subtitle{
	font-size: 18px;
}
.date{
	font-size: 15px;
}
.column-container{
 display: block;
}
.column-left{
  width: auto;
  float: none;
   margin-top: 0px;
}
.column-right{
 width: auto;
 float: none;
 margin-top: 0px;
}
.link{
	font-size: 20px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	
}
.caption{
 	
 	font-size: 15px; 
 	
 }
 .img-about{
    width: 60%;
 }
 .video{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 450px;
}

	}
