@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/*@keyframes font{
	10%{
		color: #7bf2ff;

			}
	50%{
		color: black;
		
	}
	100%{
		color: white;
		
	}
}*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato';

}
body{
	 background-color: #7bf2ff;
}


nav{
	height: 40px;
	background-color: black;
	
}
/*Navigation*/
ul{
  	top:0;
  	background-color: black;
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 10;
}

li{
	float: right;

}
ul li a{
	
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	font-family: Lato;
	padding: 10px 10px;
   	display: flex;
	
	}
li a:hover:not(.current-link){
    background-color: #F37298;
}
.current-link{
	background-color: #F37298;
}

a{
	padding: 8px;
	color: black;
}
/* a:hover{
 	background-color: #F37298;
 	
 }*/
.logo a{
	color: white;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    font-family: Lato;
    padding: 10px;
    display: flex;
    z-index: 13;
    position: fixed;
   

}
.logo{
	padding: 0px;
}
.logo a:hover{
 	background-color: #F37298;
 
 }

.Blog{
	float: left;
}
.column-left{
	float: left;
	width: 50%;
	padding: 0px;
	
}
.column-right{
	float: right;
	width: 50%;
	padding: 0px;
	
}

.column-container{
	
	display: flex;
	
	

}
.column-container-about{
	
	display: flex;
	 padding: 0px;
	
}


section{
	width: auto;
	padding: 20px;
 	text-align: left;
 	margin-top: 60px;
}
article{
	width: auto;
	padding: 20px;
 	text-align: left;
 	margin-top: 60px;
}
.about-section{
	width: auto;
 	text-align: left;
 	margin-top: 0px;
 
}

.heading{
	color: black;
	font-family: Lato;
	font-weight: 600;
	font-size: 80px;
	text-align: center;

}   
.name-heading{
	color: black;
	font-family: Lato;
	font-weight: bold;
	font-size: 100px;
	text-align: center;
}
  

/*Blog Page */
.blog-title{
	
	font-family: Lato;
	font-size: 30px;
	font-weight: bold;
	color: black;
	margin-bottom: 10px;
	border-radius: 10px;
	text-align: center;

}




 .img-blog{
 	margin-left: 10px;
 	margin-right: 10px;
 	height: auto;
 	width: 500px;
 	float: left;

 	
 }	

.title{
	color: black;
	font-family: Lato;
	font-weight: bold;
	font-size: 60px;
	text-align: center;
}
.subtitle{
	color: black;
	text-align: center;
	font-family: Lato;
    font-size: 20px;
    text-decoration: none;
 
}
.paragraph{
	color: black;
	font-family: Lato;
    font-size: 20px;
    padding: 15px;
  }

.date{
	font-size: 20px;
	font-family:Lato;
	padding: 15px;
}

h1{
	color: black;
	font-family: Lato;
	font-size: 80px;
	font-weight: 600;
	text-decoration: none;
	text-align: center;
}

	
p{
    color: black;
	font-family: Lato;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
	
}
header{
	color: #F37298;
	text-align: center;
	font-family:Lato;
	font-size: 120px;
	font-weight: 900;
	text-decoration: none;
}

h2{
	color: black;
	font-family: Lato;
	text-align: center;
    font-size: 20px;
   
  

}
.img-about{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	
}
img{
    display: block;
	margin-right: auto;
	margin-left: auto;
	width: 40%;

}
.zoom{
    display: block;
	margin-right: auto;
	margin-left: auto;
	width: 40%;
	transition: transform .2s;
}

.zoom:hover{
	transform: scale(1.5);
}
 div{
 	padding: 20px;
 	text-align: left;
 }
.caption{
 	text-align: center;
 	font-size: 12px; 
 	font-family: Lato;

 	color: black;
 }

button {
    font-family: Lato;
    color: black;
    font-size: 15px;
    text-decoration: none;
    border: solid black;
    border-radius: 10px;
   	padding: 10px;
   	float: right;
   	margin-top: 20px;
   	background-color: #F37298;
   	margin-right: 10px;
	margin-top: 20px;
}

button:hover{
    color:  black;
    border: solid black 2px;
}

#button-position{
	margin: auto;
	width: 10%;
	
}

#contact{
	display: flex;
	padding: 20px;
	margin:0;

}
.title-about{
	font-size: 30px;
	padding: 0px;
}
.link{
	
	font-size: 15px;
	color: #F37298;
	font-family: Lato;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	font-weight: bold;
}

.link:hover{
	color: black;
}
.button {
font-family: Lato;
color: black;
 font-size: 15px;
 text-decoration: none;
 border: solid black;
 border-radius: 10px;
 display: inline;
 padding: 10px;
 float: right;	
 background-color: #F37298;
 margin-right: 20px;
 margin-top: 20px;
 margin-left: 20px;
 margin-bottom: 20px;
}

.button:hover {
  color: black;
  border: solid black 2px;
}

.read{
	font-family: Lato;
	font-size: 20px;
	float: right;
	font-weight: bold;
	color: #7bf2ff;
	padding: 0px;
	margin-top: 60px;
	white-space: pre-line;
}
.read:hover{
	color: black;
}
.container{
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;

}
.container iframe{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	
}

.video{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 15;

}

.video-button{
    font-family: Lato;
    color: black;
    font-size: 20px;
    text-decoration: none;
    border: solid black;
    border-radius: 10px;
  	 padding: 10px;
  	 float: right;
 	 position: absolute;
	 margin-top: -350px;
	 margin-left: 40%; 
}
.video-button:hover{
	color: #F37298 ;
  border: solid black 2px;
}

.btnScrollToTop{
	position: fixed;
	bottom: 16px;
	right: 32px;
	width: 50px;
	height: 50px;
	display: flex;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	color: black;
	text-decoration: none;
	pointer-events:none;
	transition: all .4s;
	opacity: 0;
	
}
.btnScrollToTop.active {
	bottom: 32px;
	pointer-events: auto;
	opacity: 1;
}

	.card-container{
		display: flex;
	}
	.card-left-One{
		height: 400px;
		width: 50%;
		padding: 0;
		margin:10px;
		color:black;
		font-family: Lato;
		cursor: pointer;
		float: left;
		background-color:  #F37298;
		

	}
	.card-left-Two{
		height: 400px;
		width: 50%;
		padding: 0;
		margin:10px;
		color:black;
		font-family: Lato;
		cursor: pointer;
		float: left;
		background-color:  #F37298;

	}
	
	.card-left-One:hover{
			background-image: url(../Images/CarCrash.gif);
			color: white;
			
			
			
	}
	.card-left-Two:hover{
			background-image: url(../Images/Find.gif);
			color: white;
			
			
			
	}
	
	.card-right-One:hover{
			background-image: url(../Images/Pop.gif);
			color: white;
			

		
	}
	.card-right-Two:hover{
			background-image: url(../Images/FIA.gif);
			color: white;
			

		
	}




	.card-right-One{
		height: 400px;
		width: 50%;
		padding: 0;
		margin: 10px;
		color:black;
		font-family: Lato;
		cursor: pointer;
		float: right;
			background-color:  #F37298;
		
	}
	.card-right-Two{
		height: 400px;
		width: 50%;
		padding: 0;
		margin: 10px;
		color:black;
		font-family: Lato;
		cursor: pointer;
		float: right;
			background-color:  #F37298;
		
	}
	

 .creative-title{
	
		display: block;
		padding-top: 25%;
		font-family: Lato;
		font-size: 50px;
		font-weight: bold;
		color: black;
		text-align: center;
		text-decoration: none;
		animation: font 4s infinite;
		
	
	}
	.creative-title:hover{
		color: white;
	}
	

	


	
	.icon{
	width: 90px;
    height: 50px;
    align-items: center;
    justify-content: center;
  	padding: 0;
    margin-right: auto;
    margin-left: auto;
    display: flex;	
}

.icon img{
	margin-left: 0;
	margin-right: auto;
}

.prevbtn{
	background-color: #F37298;
	color: black;
	text-decoration: none;
	display: inline-block;
	font-family: Lato;
    font-size: 15px;
   	padding: 10px;
   	float: left;
   	margin-left: 20px;
  

}
.prevbtn:hover{
	color:black;
	background-color: #F37298;

}
.nextbtn{
  	background-color: #F37298;
 	color: black;
  	text-decoration: none;
	display: inline-block;
	font-family: Lato;
    font-size: 15px;
   	padding: 10px;
   	float: right;
   	margin-right: 20px;
   	margin-bottom: 20px;
  
   
}
.nextbtn:hover{
	color:black;
	background-color: #F37298;

}
.btn{
	border-radius: 10px;
 border: solid black 2px;

}
.image{
		width: 100%;
		height: 100%;
		
}



/*Moblie*/

@media screen and (max-width: 700px){

   h1{
   	font-size: 30px;
   }
    h2{
    	font-size: 20px;
    }
    h3{
    	font-size: 15px;
    }
    .logo a{
	
    padding: 8px;
    position: absolute;

}
    nav{
			position: relative;
		}

.bar{
			width: 30px;
			height: 3px;
			background-color: white;
			margin: 5px;
			padding: 0px;

	}
		

	ul li a{
		padding: 20px 20px;
  		font-size: 30px;
  		color: transparent;
  		-webkit-text-stroke : 1px white;
  		font-weight: 900;
	
	}
	ul li a:hover{
		color: #F37298;
		-webkit-text-stroke : 1px white;
		transition: 0.5s;
	}
	
	.hamburger-menu{
			position: absolute;
			cursor: pointer;
			top: 50%;
			right: 4%;
			transform: translate(35%, -50%);
			z-index: 11;
			margin: auto;
			padding: 0px;
		}
		
		li{
			float: none;
			display: flex;
			
			
		}
		ul{
			position: fixed;
			background-color: black;
			height: 100%;
			display: none;
		}
		ul.active{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex-flow: column-reverse;
		}
		li a:hover:not(.current-link){
    background-color: black;
}

	


 .img-blog{
	margin-left: 0px;
	margin-right: 0px;
	width: 300px;
	float: none;
}
   
img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

button{
	font-size: 15px;
	margin-right: 10px;
	margin-top: 20px;
	padding: 6px;
}


.caption{
 	text-align: center;
 	font-size: 12px; 
 	font-family: Lato;
 	color: black;
 }

.heading{
	font-size: 30px;
}
.button{
	font-size: 15px;
	padding: 6px;
	margin-right: 10px;
	margin-top: 20px;
	 margin-right: 10px;
	 margin-top: 20px;
 	margin-left: 20px;
	 margin-bottom: 20px;
}


.video-button{
    
    font-size: 12px;
    padding: 2.5px 8px;

    margin-top: -120px;
    margin-left: 35%;
}

.img-about{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}
.title{
	font-size: 25px;
}
#button-position{
   width: 16%;
}
.blog-title{
	font-size: 25px;
}
.paragraph{
	font-size: 15px;

}
.subtitle{
	font-size: 18px;
}
.date{
	font-size: 12px;
}

.column-container{
  display: block;

}
.column-container-about{
	
	display: block;
	
	
}
.column-left{
  width: auto;
  float: none;
   margin-top: 0px;
}
.column-right{
 width: auto;
 float: none;
 margin-top: 0px;
}
.name-heading{
  font-size: 50px;
}
.link{
	font-size: 15px;
margin-left: auto;
margin-right: auto;
	
}
.caption{

 	font-size: 12px; 
 
 }
 .read{
	text-align: right;
	font-size: 15px;
	margin-left: 200px;
	font-weight: bold;
	margin-top: 0px;
}
.title-about{
	font-size: 30px;
}
.video{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 200px;
	padding:0px;
}
.card-container{
		display: block;
}
	.card-left-One{
		width: auto;
  		float: none;
   		margin-top: 0px;
   		height: 300px;
	}
	.card-left-Two{
		width: auto;
  		float: none;
   		margin-top: 0px;
   		height: 300px;
	}
	.card-right-One{
		width: auto;
  		float: none;
   		margin-top: 0px;
   		height: 300px;
	}
	.card-right-Two{
		 width: auto;
 		float: none;
 		margin-top: 0px;
 		height: 300px;
	}
	.creative-title{
		
		font-size: 35px;
		padding-top: 40%;
		

	}
	.icon{
		padding: 20px;
		padding-left: 0;
	}
	.zoom{
		width: 100%;
	}
	.zoom:hover{
	transform: none;
}
.nextbtn{
	padding: 6px;
	font-size: 15px;
}
.prevbtn{
	padding: 6px;
	font-size: 15px;
}
.icon img{
	width: 50%;
}
 
}

/*Tablet */
@media screen and (max-width: 1024px) and (min-width: 700px){
	 h1{
   	font-size: 30px;
   }
    h2{
    	font-size: 30px;
    }
    h3{
    	font-size: 25px;
    }


img{
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}
  .logo a{
	
    padding: 8px;
       position: absolute;

}

.bar{
			width: 30px;
			height: 3px;
			background-color: white;
			margin: 5px;
			padding: 0px;

	}
		

	ul li a{
		padding: 20px 20px;
  		font-size: 60px;
  		color: transparent;
  		-webkit-text-stroke : 1px white;
  		font-weight: 900;
	
	}

		ul li a:hover{
		color: #F37298;
		-webkit-text-stroke : 1px white;
		transition: 0.5s;
	}
		
	
	.hamburger-menu{
			position: absolute;
			cursor: pointer;
			top: 17px;
			right: 2%;
			transform: translate(20%, -40%);
			z-index: 11;
			margin:auto;
			padding: 0px;
		}
		
		li{
			float: none;
			display: flex;
			
			
		}
		ul{
			position: fixed;
			background-color: black;
			height: 100%;
			display: none;
			transition: all 3s ease;
		}
		ul.active{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex-flow: column-reverse;

		}
		li a:hover:not(.current-link){
    background-color: black;
}

	
button{
	font-size: 20px;
	padding: 10px;
	margin-right: 10px;
	margin-top: 20px;
}

.heading{
	font-size: 40px;
}
.button{
	font-size: 20px;
	padding: 10px;
	margin-right: 10px;
	margin-top: 20px;
	margin-left: 20px;
	 margin-bottom: 20px;

}

.video-button{

    font-size: 100%;
    padding: 2.5px 8px;
    padding: 5px;
    margin-left: 40%;
}
.title{
	font-size: 50px;
}
#button-position{
   width: 16%;
}
.blog-title{
	font-size: 25px;
}
.paragraph{
	font-size: 24px;

}
.subtitle{
	font-size: 18px;
}
.date{
	font-size: 20px;
}
.column-container{
 display: block;
}
.column-container-about{
	
	display: block;
	
	
}
.column-left{
  width: auto;
  float: none;
   margin-top: 0px;
}
.column-right{
 width: auto;
 float: none;
 margin-top: 0px;
}
.link{
	font-size: 20px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	
}
.caption{
 	
 	font-size: 15px; 
 	
 }
 .img-about{
    width: 60%;
 }
 .img-blog{
	margin-left: auto;
	margin-right: auto;
	width: 450px;
	float: none;
}
.read{
	text-align: right;
	font-size: 18px;
	margin-top: -5px;
	font-weight: bold;
}
.title-about{
	font-size: 30px;

}
.video{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 400px;
}
	.card-container{
		display: flex;
}
	.card-left{
	height: 540px;
	}
	.card-right{
	height: 540px;
	}
	.creative-title{
		
		font-size: 60px;
		padding-top: 40%;
		

	}
	.icon{
		padding: 20px;
		padding-left: 0;
	}
	.zoom{
		width: 100%;
	}
	.zoom:hover{
	transform: none;
}
	.nextbtn{

	font-size: 20px;
}
.prevbtn{

	font-size: 20px;
}
	}

































