*{
	box-sizing: border-box;
}
body{
	margin:0;
	padding: 0;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
}
.logo{
	font-size: 30px;
	margin: 0.5rem;
	list-style: none;
	text-decoration: none;
	color: white;
	font-family: Lato;
	font-weight:bold;

}
 ul{
	margin: 0;
	padding: 0;
	display: flex;
}
 li{
	list-style: none;
}
 li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}
li a:hover:not(.current-link){
    background-color: #F37298;
}
.hamburger-toggle{
	position: absolute;
	top: 0.75rem;
	right: 1rem;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
	display: none;
}
.hamburger-toggle .hamburger{
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}
.hamburger{
	height: 30px;
	width: 2px;
}

@media screen and (max-width: 700px){
	.hamburger-toggle{
		display: flex;
	}
	ul{
		display: none;
		width: 100%;

	}
	nav{
		flex-direction: column;
		align-items: flex-start;
	}
	 ul{
		text-align: center;
	}
	ul li a{
		padding: .5rem 1rem;
	}
	ul .active{
		display: flex;
	}
}
